@import "tailwindcss";

/*Design tokens */
:root {
  /*baggrund */
  --color-bg: #CAF492; 

  /*tekst */
  --color-text: #524F4B;  

  /*border base */
  --color-border: #524F4B; 
}

/*Global  */
html, body {
  height: 100%;
}

body {
  margin: 0;
  color: var(--color-text);
  background: var(--color-bg);
  font-family: var(--font-wallop);
}



/*Farverne gemt i classes*/
.bg-brand {
  background: var(--color-bg);
}

.text-brand {
  color: var(--color-text);
}

.border-brand-20 {
  border-color: color-mix(in srgb, var(--color-border) 20%, transparent);
}
